@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding: 44px 20px 58px 20px;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .header-logo {
  width: 235px;
}
.header .nav .hamburger {
  display: none;
}
.header .nav .navbar {
  display: flex;
}
.header .nav .navbar a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-left: 32px;
  text-transform: uppercase;
  color: #83888F;
  transition: 0.5s ease;
}
.header .nav .navbar a:hover {
  color: #333D4B;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 40px 39px;
  }
}
@media screen and (max-width: 601px) {
  .header {
    padding: 30px 20px;
  }
  .header .nav .header-logo {
    width: 190px;
  }
  .header .nav .hamburger {
    cursor: pointer;
    width: 16px;
    display: block;
  }
  .header .nav .navbar {
    display: none;
  }
  .header .nav .navbar a {
    font-size: 10px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 32px 24px;
  }
  .header .nav .header-logo {
    width: 163px;
  }
  .header .nav .hamburger {
    cursor: pointer;
    width: 16px;
    display: block;
  }
  .header .nav .navbar {
    display: none;
  }
}
.first-section {
  margin-bottom: 123px;
}
.first-section .first-section-text {
  background: url(../../images/section-1-bg.jpg);
  height: 600px;
  border-radius: 10px;
  padding: 117px 85px;
}
.first-section .first-section-text h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  max-width: 493px;
  padding-bottom: 32px;
}
.first-section .first-section-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 417px;
  padding-bottom: 56px;
}
.first-section .first-section-text .btn {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  border: none;
  transition: 0.5s ease;
}
.first-section .first-section-text .btn:hover {
  background: #66D2CF;
}

@media screen and (max-width: 768px) {
  .first-section .first-section-text {
    background-position-x: center;
    background-position-y: bottom;
    padding: 104px 0 104px 58px;
    height: 500px;
  }
  .first-section .first-section-text h1 {
    font-size: 48px;
    line-height: 48px;
    max-width: 329px;
    padding-bottom: 24px;
  }
  .first-section .first-section-text p {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 601px) {
  .first-section .first-section-text {
    background-position-x: 700px;
    background-position-y: top;
    padding: 90px 0 104px 20px;
    height: 500px;
  }
  .first-section .first-section-text h1 {
    font-size: 46px;
    line-height: 46px;
    max-width: 329px;
    padding-bottom: 24px;
  }
  .first-section .first-section-text p {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 375px) {
  .first-section .first-section-text {
    background-position-x: 600px;
    background-position-y: center;
    padding: 100px 20px 99px 20px;
    height: 500px;
    text-align: center;
  }
  .first-section .first-section-text h1 {
    font-size: 40px;
    line-height: 40px;
    max-width: 329px;
    padding-bottom: 24px;
  }
  .first-section .first-section-text p {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 39px;
    max-width: 279px;
  }
}
@media screen and (max-width: 328px) {
  .first-section .first-section-text {
    background-position-x: 600px;
    background-position-y: center;
    padding: 70px 0px 99px 0px;
    height: 500px;
    text-align: center;
  }
  .first-section .first-section-text h1 {
    font-size: 35px;
    line-height: 30px;
    max-width: 329px;
    padding-bottom: 24px;
  }
  .first-section .first-section-text p {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 39px;
    max-width: 279px;
  }
  .first-section .first-section-text .btn {
    font-size: 15px;
    line-height: 20px;
    padding: 15px 20px;
  }
}
.collection {
  padding-bottom: 200px;
}

.collection__list {
  max-width: 1111px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  background: url(../../images/collection-bg.png) no-repeat;
  background-size: contain;
  justify-content: space-between;
  gap: 30px;
}

.collection__item {
  max-width: 255px;
  text-align: center;
  transition: 0.5s ease;
}

.collection__item:hover {
  transform: scale(1.1);
  border: 1px solid #0E8784;
}

.collection__img-block {
  margin-bottom: 71px;
}

.collection__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}

.collection-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

@media screen and (max-width: 930px) {
  .collection__list {
    flex-direction: column;
  }
  .collection__item {
    max-width: 573px;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .collection__img-block {
    max-width: 255px;
    margin-bottom: 0;
  }
  .collection__content-block {
    max-width: 282px;
    margin-left: 35px;
  }
}
@media screen and (max-width: 520px) {
  .collection__item {
    flex-direction: column;
    text-align: center;
  }
  .collection__content-block {
    margin-left: 0;
  }
  .collection__img-block {
    margin-bottom: 24px;
    max-width: 200px;
  }
}
.choose {
  padding-bottom: 200px;
}

.choose__content {
  background: #2c343e;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 86px;
  text-align: center;
  position: relative;
}

.choose__box {
  position: absolute;
  width: 100%;
  height: 240px;
  background-color: #2c343e;
  border-radius: 10px;
  z-index: -1;
  top: 319px;
}

.choose__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.choose__text {
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin: 0 auto;
}

.choose__item {
  background-color: #0e8784;
  border-radius: 8px;
  max-width: 350px;
  padding: 72px 48px 48px 47px;
  text-align: center;
  transition: 0.5s;
}
.choose__item::before {
  content: "";
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-bottom: 56px;
  background-repeat: no-repeat;
}
.choose__item:nth-child(1)::before {
  background-image: url(../../images/choose-icon-1.svg);
}
.choose__item:nth-child(2)::before {
  background-image: url(../../images/choose-icon-2.svg);
}
.choose__item:nth-child(3)::before {
  background-image: url(../../images/choose-icon-3.svg);
}
.choose__item:hover {
  background: #66D2CF;
  transform: scale(1.1);
}

.choose__sub-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  color: #FEFCF7;
}

.choose__des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.choose__list {
  max-width: 1111px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 1240px) {
  .choose__list {
    max-width: 90%;
  }
}
@media screen and (max-width: 1070px) {
  .choose__list {
    flex-direction: column;
  }
  .choose__item {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 41px 48px 41px 70px;
  }
  .choose__item::before {
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .choose__box {
    height: 351px;
  }
  .choose__text-block {
    margin-left: 56px;
  }
}
@media screen and (max-width: 630px) {
  .choose__text {
    padding: 0 20px;
  }
  .choose__item {
    flex-direction: column;
    padding: 72px 48px 48px 47px;
    text-align: center;
  }
  .choose__item::before {
    margin-bottom: 56px;
  }
  .choose__text-block {
    margin-left: 0;
  }
}
.work {
  max-width: 1045px;
  margin: 0 auto;
}
.work .work-text h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}
.work .work-text .line {
  max-width: 760px;
  height: 2px;
  border: 2px solid #FDD6BA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
}
.work .work-text .line span {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid #0E8784;
  background: #FEFCF7;
}
.work .work-cards {
  display: flex;
}
.work .work-cards .work-card {
  max-width: 285px;
  margin-right: 90px;
  transition: 0.5s;
}
.work .work-cards .work-card .work-card-h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}
.work .work-cards .work-card .work-card-h2 {
  max-width: 255px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 42px;
}
.work .work-cards .work-card .work-card-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  margin-bottom: 64px;
}
.work .work-cards .work-card:hover {
  transform: scale(1.1);
  border: 1px solid #0E8784;
}
.work .btn {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  border: none;
  transition: 0.5s ease;
  margin-bottom: 200px;
}
.work .btn:hover {
  background: #66D2CF;
}

@media screen and (max-width: 900px) {
  .work .work-cards .work-card {
    margin-right: 30px;
  }
  .work .work-cards .work-card .work-card-h2 {
    max-width: 223px;
    font-size: 28px;
    line-height: 32px;
  }
  .work .work-cards .work-card .work-card-p {
    max-width: 223px;
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 601px) {
  .work {
    align-items: center;
    text-align: center;
  }
  .work .work-text .line {
    display: none;
  }
  .work .work-cards {
    flex-direction: column;
  }
  .work .work-cards .work-card {
    margin: 0 auto;
  }
  .work .work-cards .work-card .work-card-h2 {
    max-width: 327px;
    margin-bottom: 24px;
  }
  .work .work-cards .work-card .work-card-p {
    max-width: 327px;
    margin-bottom: 56px;
  }
}
.footer {
  background: #2C343E;
  margin-bottom: 88px;
}
.footer .footer-content {
  padding: 47px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-content .footer-logo {
  width: 236px;
  margin-right: 102px;
}
.footer .footer-content .footer-navbar ul {
  display: flex;
}
.footer .footer-content .footer-navbar ul a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  padding-left: 32px;
}
.footer .footer-content .social-media {
  display: flex;
}
.footer .footer-content .social-media img {
  padding-left: 24px;
}

@media screen and (max-width: 1001px) {
  .footer {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    height: 270px;
  }
  .footer .footer-content {
    flex-direction: column;
  }
  .footer .footer-content .footer-logo {
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .footer .footer-content .social-media {
    margin-top: 65px;
  }
  .footer .footer-content .social-media img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 565px) {
  .footer {
    max-width: 100%;
    height: 400px;
  }
  .footer .footer-content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .footer .footer-content .footer-logo {
    max-width: 217px;
    padding-top: 50px;
  }
  .footer .footer-content .footer-navbar ul {
    flex-direction: column;
    text-align: center;
  }
  .footer .footer-content .footer-navbar ul li {
    padding-bottom: 24px;
  }
  .footer .footer-content .footer-navbar ul li a {
    font-size: 12px;
    line-height: 25px;
  }
}
.about-header {
  padding: 44px 20px 45px 20px;
}
.about-header .about-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-header .about-nav .about-header-logo {
  width: 235px;
}
.about-header .about-nav .about-hamburger {
  display: none;
}
.about-header .about-nav .about-navbar {
  display: flex;
}
.about-header .about-nav .about-navbar a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-left: 32px;
  text-transform: uppercase;
  color: #83888F;
  transition: 0.5s ease;
}
.about-header .about-nav .about-navbar a:hover {
  color: #333D4B;
}

@media screen and (max-width: 768px) {
  .about-header {
    padding: 40px 39px 53px 39px;
  }
}
@media screen and (max-width: 601px) {
  .about-header {
    padding: 32px 24px 40px 24px;
  }
  .about-header .about-nav .about-header-logo {
    width: 190px;
  }
  .about-header .about-nav .about-hamburger {
    cursor: pointer;
    width: 16px;
    display: block;
  }
  .about-header .about-nav .about-navbar {
    display: none;
  }
  .about-header .about-nav .about-navbar a {
    font-size: 10px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 375px) {
  .about-header {
    padding: 32px 24px;
  }
  .about-header .about-nav .about-header-logo {
    width: 163px;
  }
  .about-header .about-nav .hamburger {
    cursor: pointer;
    width: 16px;
    display: block;
  }
  .about-header .about-nav .about-navbar {
    display: none;
  }
}
.about-hero {
  margin-bottom: 168px;
}
.about-hero .about-hero-content {
  width: 100%;
  height: 450px;
  background: url(../../../images/about-hero-bg.png);
  border-radius: 10px;
  padding: 137px 0 0 85px;
}
.about-hero .about-hero-content .about-hero-h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
}
.about-hero .about-hero-content .about-hero-p {
  max-width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media screen and (max-width: 840px) {
  .about-hero .about-hero-content {
    background-position-x: center;
    padding: 118px 0 0 58px;
  }
  .about-hero .about-hero-content .about-hero-h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .about-hero .about-hero-content .about-hero-p {
    max-width: 398px;
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 540px) {
  .about-hero .about-hero-content {
    text-align: center;
    padding: 111px 0 0 0;
  }
  .about-hero .about-hero-content .about-hero-h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .about-hero .about-hero-content .about-hero-p {
    margin: 0 auto;
    max-width: 279px;
  }
}
.about-commit {
  margin-bottom: 200px;
}
.about-commit .about-commit-content {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-commit .about-commit-content .about-left {
  max-width: 485px;
  height: 606px;
  margin-right: 125px;
  overflow: hidden;
}
.about-commit .about-commit-content .about-left img {
  border-radius: 8px;
  transition: 0.5s;
}
.about-commit .about-commit-content .about-left img:hover {
  transform: scale(1.1);
}
.about-commit .about-commit-content .about-right h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}
.about-commit .about-commit-content .about-right p {
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media screen and (max-width: 861px) {
  .about-commit .about-commit-content .about-left {
    margin-right: 69px;
  }
  .about-commit .about-commit-content .about-right h1 {
    font-size: 32px;
    line-height: 48px;
  }
  .about-commit .about-commit-content .about-right p {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 665px) {
  .about-commit .about-commit-content {
    flex-direction: column;
    text-align: center;
  }
  .about-commit .about-commit-content .about-left {
    margin-bottom: 48px;
    margin-right: 0;
  }
  .about-commit .about-commit-content .about-right p {
    max-width: 327px;
  }
}
.about-quality {
  background: #2C343E;
  border-radius: 10px;
  margin-bottom: 168px;
}
.about-quality .about-quality-content {
  display: flex;
}
.about-quality .about-quality-content .about-quality-top {
  display: none;
}
.about-quality .about-quality-content .about-quality-left {
  padding: 100px 125px 0 85px;
}
.about-quality .about-quality-content .about-quality-left h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}
.about-quality .about-quality-content .about-quality-left p {
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.about-quality .about-quality-content .about-quality-right {
  max-width: 445px;
  height: 474px;
}
.about-quality .about-quality-content .about-quality-right img {
  margin-top: -88px;
  border-radius: 8px;
  transition: 0.5s;
}
.about-quality .about-quality-content .about-quality-right img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1250px) {
  .about-quality .about-quality-content .about-quality-left {
    padding: 100px 100px 0 35px;
  }
  .about-quality .about-quality-content .about-quality-left h1 {
    font-size: 32px;
    line-height: 48px;
  }
  .about-quality .about-quality-content .about-quality-left p {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 1112px) {
  .about-quality .about-quality-content .about-quality-left {
    padding: 100px 20px 0 15px;
  }
  .about-quality .about-quality-content .about-quality-left h1 {
    font-size: 32px;
    line-height: 48px;
  }
  .about-quality .about-quality-content .about-quality-left p {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 1076px) {
  .about-quality {
    margin-top: 300px;
  }
  .about-quality .about-quality-content {
    flex-direction: column;
  }
  .about-quality .about-quality-content .about-quality-top {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .about-quality .about-quality-content .about-quality-top img {
    margin-top: -100px;
    width: 100%;
    height: 320px;
    border-radius: 8px;
    transition: 0.5s;
  }
  .about-quality .about-quality-content .about-quality-top img:hover {
    transform: scale(1.1);
  }
  .about-quality .about-quality-content .about-quality-left {
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .about-quality .about-quality-content .about-quality-left h1 {
    margin-top: 62px;
  }
  .about-quality .about-quality-content .about-quality-left p {
    margin-bottom: 67px;
  }
  .about-quality .about-quality-content .about-quality-right {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .about-quality .about-quality-content .about-quality-left h1 {
    max-width: 279px;
    font-size: 28px;
    line-height: 28px;
  }
  .about-quality .about-quality-content .about-quality-left p {
    max-width: 279px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 50px;
  }
}/*# sourceMappingURL=main.css.map */