.choose {
    padding-bottom: 200px;

    .choose_content {
        position: relative;
        background: #2c343e;
        border-radius: 10px;
        padding-top: 100px;
        padding-bottom: 86px;
        text-align: center;

        .choose-h2 {
            font-family: $font2;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #fefcf7;
            margin-bottom: 32px;
        }

        .choose-p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            max-width: 540px;
            color: #fefcf7;
            text-align: center;
            margin: 0 auto;
        }

        .choose-box {
            position: absolute;
            width: 100%;
            height: 240px;
            background: #2c343e;
            border-radius: 10px;
            z-index: -1;
        }
    }

    .choose-cards {
        max-width: 1111px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 30px;


        .choose-card {
            background: #0e8784;
            border-radius: 8px;
            max-width: 350px;
            padding: 72px 48px 48px 47px;
            text-align: center;

            &::before {
                content: "";
                width: 72px;
                height: 72px;
                display: inline-block;
                margin-bottom: 56px;
            }

            &:nth-child(1)::before {
                background: url(../../images/choose-icon-1.svg) no-repeat;
            }

            &:nth-child(2)::before {
                background: url(../../images/choose-icon-2.svg) no-repeat;
            }

            &:nth-child(3)::before {
                background: url(../../images/choose-icon-3.svg) no-repeat;
            }

            .choose-card-h3 {
                font-family: $font2;
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 24px;
                color: #fefcf7;
            }

            .choose-card-p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #fefcf7;
            }
        }
    }
}

@media screen and (max-width: 1240px) {

    .choose-cards {
        max-width: 90%;
    }
}

@media screen and (max-width: 1070px) {

    .choose-cards {
        flex-direction: column;
    }

    .choose-card {
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;


        &::before {
            flex-shrink: 0;
        }
    }

    .choose-text-block {
        margin-left: 56px;
    }

}