.collection {
    padding-bottom: 200px;
}

.collection__list {
    max-width: 1111px;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    background: url(../../images/collection-bg.png) no-repeat;
    background-size: contain;
    justify-content: space-between;
    gap: 30px;
}

.collection__item {
    max-width: 255px;
    text-align: center;
    transition: .5s ease;
}

.collection__item:hover {
    transform: scale(1.1);
    border: 1px solid #0E8784;
}

.collection__img-block {
    margin-bottom: 71px;
}

.collection__title {
    font-family: $font2;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin-bottom: 24px;
}

.collection-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
}

@media screen and (max-width: 930px) {

    .collection__list {
        flex-direction: column;
    }

    .collection__item {
        max-width: 573px;
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .collection__img-block {
        max-width: 255px;
        margin-bottom: 0;
    }

    .collection__content-block {
        max-width: 282px;
        margin-left: 35px;
    }

}

@media screen and (max-width: 520px) {

    .collection__item {
        flex-direction: column;
        text-align: center;
    }

    .collection__content-block {
        margin-left: 0;
    }

    .collection__img-block {
        margin-bottom: 24px;
        max-width: 200px;
    }

}